@page "/"

<h1>Image Repository Homepage &#127924;</h1>
<hr>
<h4>Welcome to the image repository!</h4>
<h5>My image repository has a strange little twist, it purposely does not check if you're uploading a valid image! This means you can do stuff
    like uploading an icon from your desktop or a work document or anything elseto see how it looks represented as a PNG/JPEG? There's no real point
    to this, just thought it might make some interesting images!</h5>
<h6>Supported features are listed below.</h6>
<ul>
    <li>Local authentication</li>
    <li>Upload and delete operations on images</li>
    <li>Converts any kind of input file to PNG/JPEG</li>
</ul>
