@page "/upload"

@using Microsoft.Extensions.Logging;
@using Microsoft.AspNetCore.Components.Forms;
@inject ILogger<Upload> logger;

<h1>Upload</h1>
<hr>
<h3>Here is where you can upload images to your account!</h3>
<hr>
<AuthorizeView>
    <Authorized>
        <img>
        <InputFile OnChange="@InputFileHandler" multiple>Select image> </InputFile>
        <button @onclick="UploadImage">Upload image</button>
        <p id="file-error-output"></p>
    </Authorized>
    <NotAuthorized>
        <h5>Sorry! To upload images you must be logged in. Please log in or create an account to continue.</h5>
    </NotAuthorized>
</AuthorizeView>


@code {
    private async Task InputFileHandler(InputFileChangeEventArgs e)
    {
        const int MaxAllowedFileCount = 5;

        if (e.FileCount > MaxAllowedFileCount)
        {
            logger.LogError($"Too many files uploaded. Maximum is {MaxAllowedFileCount}. Actual is {e.FileCount}");
            foreach(var image in e.GetMultipleFiles(MaxAllowedFileCount))
            {

            }
        }
    }
    private void UploadImage()
    {
        logger.LogError("Image select clicked");
    }
}
